@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  direction: rtl;

  &.ltr {
    direction: ltr;
  }
}

.wrapper {
  overflow: hidden;
  background-color: $bg-main;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}
