.img-fit{
    max-width: 100%;
}
.section-box {
    & h1 ,& h2{
        font-size:3.2rem;
        line-height: 1.6;
        font-weight: 600;
        @media only screen and (max-width: $bp-small) {
            font-size: 2.3rem;
        }
    }

    & p {
        font-size: 1.8rem;
        font-weight: 300;
        font-family: inherit;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

}
body.rtl{
    p{
        font-weight: 400;
    }
}
.wrapper.dark-mode {
    
    .section-box {
        & h1 ,& h2{
            color: $color-white !important;
        }
    
        & p {
            color: $color-white;

        }
    } 
    & section.header {
        & .section-box{
            & h1{
                color: $color-dark-title-1 !important;
            }
        }
    }
    & section.happiness{
        & .section-box{
            & h2{
                color: $color-dark-title-2 !important;
            }
        }
    }
    & section.aud{
        & .section-box{
            & h2{
                color: $color-dark-title-3 !important;
            }
        }
    }
    & section.family{
        & .section-box{
            & h2{
                color: $color-dark-title-4 !important;
            }
        }
    }
}

.btn{
    text-decoration: none;
}
.btn.btn-primary{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 4rem;
    background-color: $button-color;
    display: block;
    color: $color-white;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50rem;
    box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    -webkit-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    -moz-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
}
.dark-mode  .btn.btn-primary{
    box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
    background: $dark-button-color;
    color: $dark-button-text-color;
}
.dark-mode {
    .dayWave{
        display: none;
    }
    .light-preparation-Qoute{
        display: none;
    }
}
.light-mode 
{
    .NightWave{
        display: none;
    }
    .dark-preparation-Qoute{
        display: none;
    }
}



