.img-fit{
    max-width: 100%;
}
.section-box {
    & h1 ,& h2{
        font-size:3.2rem;
        line-height: 1.6;
        font-weight: 600;
        @media only screen and (max-width: $bp-small) {
            font-size: 2.3rem;
        }
    }

    & p {
        font-size: 3rem;
        font-weight: 300;
        font-family: inherit;
        margin-top: 1rem;
        margin-bottom: 3rem;
        position: relative;
        @media only screen and (max-width: $bp-small) {
            font-size: 20px;
        }
    }

}
a{
    cursor: pointer;
}
body.rtl{
    p{
        font-weight: 400;
    }
}

.btn{
    text-decoration: none;
 
}

button.btn.btn-primary:disabled{
    background-color: #ccc !important; 
    color: #666 !important;         
    cursor: not-allowed !important;    
    opacity: 0.8;          
    border-color: #bbb;   
    box-shadow: none;
}

.btn.btn-primary{
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    display: block;
    border: none;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50rem;
    /*
    color: $color-white;
    background-color: $button-color;
    box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    -webkit-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    -moz-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    */
    @media only screen and (max-width: $bp-small) {
        font-size: 16px;
    }
}

