.navbar {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    height: 3rem;
    box-shadow: rgba(144, 45, 245, 0.25) 0px 50px 100px -20px, rgba(144, 45, 245, 0.3) 0px 30px 60px -30px;
    z-index: 999;
    position: relative;

    & .navbar-language {
        flex: 0 0 10%;
    }

    & .navbar-logo {
        flex: 1;
        text-align: center;

        & .logo-box {
            position: relative;
            top: 4rem;
            background-color: $color-white;
            width: 20rem;
            margin: 0 auto;
            padding: 1rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;

            & img {
                width: 100px;
            }
        }
    }

    & .hamburger-menu {
        flex: 0 0 10%;

        & .hamburger-icon {
            width: 3rem;
            height: 3rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 50%;
            display: flex;
            padding: 0.5rem;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;

            & .icon-line {

                &:first-child,
                &:last-child {
                    width: 80%;
                    margin: 0 auto;
                }

                display: block;
                background-color: $primary-color;
                border-radius: .5rem;
                height: .35rem;
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
    }
}







// .header-bottom-waves {
//     position: relative;
//     bottom: 10rem;

//     & .waves img {
//         position: absolute;
//         max-width: 100%;
//     }

//     & .waves img.bottomWave {
//         top: 0px;
//         left: -22%;
//     }

//     & .waves img.topWave {
//         top: -5rem;
//         left: -15%;
//         rotate: -15deg;
//     }
// }

