@import "./variables";

.greetings-card-container {
    padding-top: 210px;
    position: relative;
    z-index: 9;
    padding-bottom: 30px;
    flex: 1;

    .layout {
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: inherit;
        max-width: 1200px;
        padding: 0 20px;
        width: 100%;
        margin: 0 auto;
        width: 100%;

        @media screen and (max-width: 1280px) {
            width: 90%;
        }
    }

    .card-column {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 20px;
        padding-right: 10px;


    }

    .input-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        max-width: 400px;
    }

    .card {
        position: relative;
    }

    .card-error {
        &:first-child {
            border: 5px solid #f20c1c;
            animation: grow-border 2s ease-in-out infinite;
        }

        @keyframes grow-border {
            from {
                border-width: 0;
            }

            to {
                border-width: 5px;
            }
        }
    }



    .card-radio {
        position: absolute;
        top: 9px;
        right: 10px;
        transform: scale(1.5);
        display: none;
    }

    .card-label {
        position: relative;
        display: inline-block;
    }

    .card-label::after {
        content: '';
        position: absolute;
        top: 7px;
        right: 7px;
        width: 30px;
        height: 30px;
        background: #8048CE;
        text-align: center;
        line-height: 25px;
        border-radius: 50%;
        border: 2px solid #fff;
        transition: all 0.3s;
        opacity: 0;
        // transform: scale(0);
    }

    .card:nth-child(even) {
        .card-label::after {
            content: '';
            position: absolute;
            top: 7px;
            right: 7px;
            width: 30px;
            height: 30px;
            background: #F7F7F7;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
            border: 2px solid #005339;
            transition: all 0.3s;
            opacity: 1;
        }

    }

    .card:nth-child(odd) {
        .card-label::after {
            content: '';
            position: absolute;
            top: 7px;
            right: 7px;
            width: 30px;
            height: 30px;
            background: #F7F7F7;
            text-align: center;
            line-height: 25px;
            border-radius: 50%;
            border: 2px solid #005339;
            transition: all 0.3s;
            opacity: 1;
        }

    }

    .card-radio:checked+.card-label::after {
        content: "✓";
        font-size: 17px;
        color: #fff;
        opacity: 1;
        transform: scale(1);
        background: #005339;
        line-height: 31px;
        border: 2px solid #fff;
    }

    .card-image {
        width: 100%;
        height: auto;
        border-radius: 14px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .message-input {
        padding: 18px;
        margin-bottom: 20px;
        border-radius: 12px;
        border: none;
        height: 150px;
        resize: none;
        display: block;
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        -webkit-box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        -moz-box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        font-size: 16px;
        color: #4A4A4A;
        font-family: "Space Grotesk", sans-serif;
    }

    .input-error {

        border: 2px solid #f20c1c !important;
        //     animation: grow-border 2s linear infinite;


        // @keyframes grow-border {
        //     from {
        //         transform: rotate(0deg);
        //       }
        //       to {
        //         transform: rotate(360deg);
        //       }
        // }
    }

    .name-input {
        padding: 18px;
        margin-bottom: 20px;
        border-radius: 12px;
        border: none;
        resize: none;
        display: block;
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        -webkit-box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        -moz-box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        box-shadow: 0px 0px 16px 0px rgba(167, 120, 231, 0.16);
        font-size: 16px;
        color: #4A4A4A;
        font-family: "Space Grotesk", sans-serif;
    }

    .messsageLimit {
        padding: 5px;
    }

    .preview-button {
        border: none;
        color: white;
        cursor: pointer;
        font-weight: 600;
        font-family: "Space Grotesk", sans-serif;
        display: block;
        box-shadow: -6px 0px 20px -8px #005339;
        -webkit-box-shadow: -6px 0px 20px -8px #005339;
        -moz-box-shadow: -6px 0px 20px -8px #005339;
        background: #005339;
        padding: 15px 0;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 50px;
        width: 220px;
        margin: 20px auto 0;
        font-size: 16px;
    }

    .preview-button:hover {
        background-color: #F7C73F !important;
        color: #005339;
        box-shadow: -6px 0px 20px -8px #F7C73F;
        -webkit-box-shadow: -6px 0px 20px -8px #F7C73F;
        -moz-box-shadow: -6px 0px 20px -8px #F7C73F;
    }

    @media screen and (max-width: 1024px) {
        .card-column {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            flex: unset;
            width: 60%;
            gap: 0;
        }

        .input-column {
            width: 40%;
            flex: unset;
        }

        .card {
            width: 48%;
            margin-bottom: 20px;
        }

        .card:nth-child(3) {
            order: 1;
        }

        .card:nth-child(6) {
            order: 1;
        }
    }

    @media (max-width: 800px) {
        .layout {
            flex-direction: column;
        }

        .input-column {
            width: 100%;
            max-width: none;
            padding-left: 0;
        }

        .card-column {
            width: 100%;
            margin-bottom: 25px;
        }

        .message-input {
            height: 100px;
        }
    }

    @media (max-width: 680px) {
        .preview-button {
            width: 100%;
            margin: 7px 0;
            padding: 10px 0;
        }

        .card:nth-child(even) .card-label::after,
        .card:nth-child(odd) .card-label::after {
            width: 20px;
            height: 20px;
        }

        .card-radio:checked+.card-label::after {
            font-size: 13px;
            line-height: 22px;
        }
    }
}


@media screen and (max-width: 1024px) {
    .greetings-card-container {
        padding-top: 18%;
    }
}
