.preview-card-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 20px 20px;
    background-color: #f7f7fc;



  .card {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    position: relative;
    text-align: center;
    color: white;

    .centered-text {
        word-wrap: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px; /* or any size you want */
        color: black; /* color of the text */
        
      }
  }

  .social-and-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .social-icons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .social-icons img {
    margin-right: 10px;
  }

  .buttons {
    display: flex;
  }

  .buttons button, .buttons a {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #8476D9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .buttons button:last-child {
    background-color: #4CAF50;
  }
}