.preview-card-container {
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  margin: 0 auto;
  width: 100%;
  padding: 210px 0 30px;
  flex-flow: wrap;
  @media screen and (max-width: 1280px){
      width: 90%;
  }


  .card {
    flex: unset;
    max-width: 48%;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    color: white;
    
    &  img {
      width: 100%;
      height: auto;
      border-radius: 14px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .centered-text {
        word-wrap: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px; /* or any size you want */
        color: #804DBF; /* color of the text */
        
      }
  }

  .social-and-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 48%;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    color: white;
    flex-flow: wrap;
    width: 100%;
  }

  .social-icons {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
  }

  .social-icons img {
    margin-right: 20px;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .buttons a {
    border: none;
    color: #5C5C5C;
    cursor: pointer;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
    display: block;
    box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    -webkit-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    -moz-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    background: #ffffff;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50px;
    width: 48%;
    margin: 20px auto 0;
    font-size: 16px;
  }
  .buttons a:hover {
    color: #fff;
    background: #8a59c8;
  }

  

  .buttons button:last-child {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-family: "Space Grotesk", sans-serif;
    display: block;
    box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    -webkit-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    -moz-box-shadow: -6px 0px 20px -8px rgb(144, 44, 245);
    background: #8a59c8;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50px;
    width: 48%;
    margin: 20px auto 0;
    font-size: 16px;
  }
  .buttons button:last-child:hover {
    color: #5C5C5C;
    background: #fff;
  }
}
.dark-mode {
  .preview-card-container{
    .buttons a:hover {
      color: #5C5C5C;
      background: #8a59c8;
    }
  }
   
  & .preview-card-container {
      background-color: #8956C9;
  }

  /*  
  & .buttons a.btn.btn-primary {
    color: #514f53;
    background: #fff;
    box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
    
  }
  & .buttons  a.btn.btn-primary:hover {
    background: #f5c547;
    color: #514f53;
  }
  */

  & .buttons button:last-child {
      box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
      -webkit-box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
      -moz-box-shadow: -1px 0px 23px -11px rgba(0, 0, 0, 0.69);
      background: #f5c547;
      color: #514f53;
  }
  & .buttons button:last-child:hover {
    color: #5C5C5C;
    background: #fff;
  }
}




@media screen and (max-width: 1024px){
  .preview-card-container {
      padding-top: 18%;
  }
}


@media (max-width: 800px) {
  .preview-card-container {
    flex-direction: column;
  }

  .preview-card-container .card {
    width: 100%;
    max-width: 400px;
    margin-bottom: 25px;
  }

  .preview-card-container .social-and-buttons {
    width: 100%;
    max-width: 100%;
  }
  .preview-card-container .card .centered-text {
      font-size: 16px;
  }
}
@media (max-width: 680px) {
  .preview-card-container .buttons button, .preview-card-container .buttons a{
    margin: 0 0 10px 0 !important;
    line-height: 20px;
  }
}