.share-card-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
    padding: 210px 0px 30px;
    flex-flow: wrap;
    @media screen and (max-width: 1280px){
        width: 100%;
    }
  
    .card {
      flex: unset;
      max-width: 100%;
      margin-bottom: 20px;
      position: relative;
      text-align: center;
      color: white;
      
      &  img {
        width: 48%;
        height: auto;
        border-radius: 14px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      }
  
      .centered-text {
          word-wrap: normal;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px; /* or any size you want */
          color: #804DBF; /* color of the text */
          
        }
    }
}