@import "../variables";

.discover-section {
    position: relative;
    font-size: 0;

    .discover-section-background {
        position: relative;
    }

    .desc-container-1,
    .desc-container-2 {
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;

        .section-desc-1,
        .section-desc-2 {
            color: #FFF;
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

        }
    }

    .desc-container-1 {
        top: 6%;
    }

    .desc-container-2 {
        flex-direction: column;
        justify-content: center;
        top: 35%;

        .discover-events-container {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .btn {
                min-width: 500px;
                padding: 0.75rem 4rem;
            }

            .logo-container {
                display: flex;
                justify-content: center;
            }
        }
    }

    .discover-giantwheel-container {
        position: absolute;
        width: 40%;
        top: 5%;
        left: 0;
        z-index: 4;

        .container-content {
            position: relative;

            .giantwheel-img {
                position: relative;
                left: -15%;

                img {
                    width: 100%;
                }
            }

            .giantwheel-carpet {
                position: absolute;
                z-index: 4;
                top: 70%;
                left: 0;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .giantwheel-fireworks {
                top: 30%;
                left: 50%;
                z-index: -2;
                width: 100%;

                .fireworks-container {
                    display: flex;
                    justify-content: center;
                }

                img {
                    width: 30%;
                }
            }

            .giantwheel-fireworks {
                position: absolute;
            }

        }
    }

    .discover-gift-container {
        position: absolute;
        width: 40%;
        top: 5%;
        right: 0;
        z-index: 4;

        .container-content {
            position: relative;

            .balloon-img {
                position: relative;
                right: -55%;

                img {
                    width: 45%;
                }
            }

            .giftbox-img {
                position: absolute;
                z-index: 4;
                top: 115%;
                right: -40%;
                width: 100%;

                img {
                    width: 30%;
                }
            }

        }
    }

    .discover-sweets-container {
        position: absolute;
        width: 40%;
        top: 40%;
        left: 0;
        z-index: 4;

        .container-content {
            position: relative;

            .sweetsplate-img {
                position: relative;
                z-index: 4;
                //top: 75%;
                left: 10%;
                width: 100%;

                img {
                    width: 55%;
                }
            }

            .donut-img {
                position: absolute;
                top: -65%;
                left: 45%;
                width: 100%;

                img {
                    width: 15%;
                }
            }

            .balloon-img {
                position: absolute;
                z-index: 4;
                top: 70%;
                left: -13%;
                width: 100%;

                img {
                    width: 70%;
                }
            }

            .sparkles-img {
                position: absolute;
                z-index: 4;
                top: 160%;
                left: 30%;
                width: 100%;

                img {
                    width: 55%;
                }
            }

        }
    }
}