@import "../variables";

.discover-section-2 {
    position: relative;
    height: 2500px;

    .desc-container-1,
    .desc-container-2 {
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;

        .section-desc-1,
        .section-desc-2 {
            color: #000;
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

        }
    }

    .desc-container-1 {
        top: 5%;
    }

    .desc-container-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 80%;

        .discover-events-container {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;

            .btn {
                min-width: 500px;
                padding: 0.75rem 4rem;
            }
        }
    }

    .discover-cartwheel-container {
        position: absolute;
        top: 10%;
        left: 0;
        z-index: 4;

        .container-content {
            position: relative;

            .cartwheel-fireworks {
                top: 18%;
                left: 45%;
                z-index: -2;
            }

            .cartwheel-cloud-img-1,
            .cartwheel-fireworks,
            .cartwheel-cloud-img-2 {
                position: absolute;
            }

            .cartwheel-cloud-img-1 {
                top: 35%;
                left: 30%;
                z-index: -3;

                img {
                    height: 49px;
                    width: 359px;
                }
            }

            .cartwheel-cloud-img-2 {
                top: 40%;
                left: 55%;
                z-index: -1;
            }

        }
    }

    // .discover-events-container {
    //     position: absolute;
    //     top: 92%;
    //     right: 50%;
    //     transform: translate(50%, 0);

    //     .btn {
    //         padding: 0.75rem 4rem;
    //     }
    // }
}