@import "../variables";

.discover-section-1 {
    position: relative;
    height: 2500px;
    margin-top: 270px;
    background-color: #a8f6ff;
    width: 100%;

    .discover-sec-1-container {
        position: relative;
        height: 100%;
        width: 100%;

        img {
            width: 100%;
        }

        .discoverElement01 {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 4;
            width: 50%;

            .building-img-1 {
                width: 89%;
                margin-left: auto;
                margin-right: 50px;
            }

            .trail-container {
                position: absolute;
                top: 60%;
                right: 0;
                width: 100%;
                overflow: visible;

                .trail-whole{
                    position: relative;

                    .trail-img {
                        transform: scale(1.35);
                        transform-origin: top right;
                    }

                    .trail-carpet-container {
                        position: absolute;
                        top: 45%;
                        right: 0;
                        width: 100%;
                    }
                    .trail-carpet {
                        position: absolute;
                        top: 10%;
                        right: 0;
                        transform: scale(1.1);
                    }
                }

               
            }
        }

        .discoverElement02 {
            position: absolute;
            width: 7%;
            top: 6%;
            left: 85%;
            z-index: 5;
        }
        .discoverElement03 {
            position: absolute;
            width: 6%;
            top: 4%;
            left: 90%;
            z-index: 3;
            
            .green-baloon-1 {
                transform: rotate(-70deg);
            }
        }

        .discoverElement04 {
            position: absolute;
            width: 40%;
            top: -4%;
            left: 44%;
            z-index: 3;
        }
        .discoverElement05 {
            position: absolute;
            width: 10%;
            top: 0;
            left: 20%;
            z-index: 3;
        }
        .discoverElement06 {
            position: absolute;
            width: 12.9%;
            top: 22%;
            left: 82%;
            z-index: 5;
        }
    }
}