@import "../variables";

.discover-section {
    position: relative;
    height: calc((3227 / 1920) * 100%);
    font-size: 0;

    @media (max-width: 768px) {
        height: calc((1626 / 430) * 100%);
    }

    .discover-section-background {
        position: relative;

        img {
            width: 100%;
        }
    }

    .desc-container-1,
    .desc-container-2 {
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        @media (min-width: 578px) and (max-width: 767px) {
            width: 75%;
        }

        @media (min-width: 768px) {
            width: 70%
        }

        @media (min-width: 1024px) {
            width: 55%
        }

        @media (min-width: 1480px) {
            width: 35%
        }

        .section-desc-1,
        .section-desc-2 {
            color: #FFF;
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @media (min-width: 578px) and (max-width: 768px) {
                font-size: 24px;
            }

            @media (min-width: 1024px) {
                font-size: 22px;
            }

            @media (min-width: 1280px) {
                font-size: 23px;
            }

            @media (min-width: 1480px) {
                font-size: 24px;
            }
        }
    }

    .desc-container-1 {
        top: 3%;

        @media (min-width: 1480px) {
            top: 5%
        }
    }

    .desc-container-2 {
        flex-direction: column;
        justify-content: center;
        top: 45%;

        @media (min-width: 578px) and (max-width: 768px) {
            top: 40%;
        }

        @media (min-width: 1480px) {
            top: 40%
        }

        .discover-events-container {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .discover-events-button {
                min-width: 350px;

                .btn {
                    font-size: 16px;
                    padding: 2rem 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                @media (max-width: 380px) {
                    min-width: 300px;
                }
            }

            .logo-container {
                display: flex;
                justify-content: center;

                img {
                    width: 20%;
                }
            }
        }

        @media (min-width: 578px) and (max-width: 768px) {
            .discover-events-container {
                .logo-container {
                    img {
                        width: 35%;
                    }
                }
            }
        }

        @media (min-width: 860px) {
            .discover-events-container {
                margin-top: 45px;

                .logo-container {
                    img {
                        width: 24%;
                    }
                }
            }
        }

        @media (min-width: 1024px) {
            .discover-events-container {
                margin-top: 50px;

                .logo-container {
                    img {
                        width: 28%;
                    }
                }
            }
        }

        @media (min-width: 1280px) {
            .discover-events-container {
                margin-top: 50px;

                .btn {
                    font-size: 16px;
                }

                .logo-container {
                    img {
                        width: 30%;
                    }
                }
            }
        }

        @media (min-width: 1480px) {
            .discover-events-container {
                margin-top: 80px;

                .btn {
                    font-size: 16px;
                }

                .logo-container {
                    img {
                        width: 32%;
                    }
                }
            }
        }
    }

    .discover-giantwheel-container {
        position: absolute;
        width: 50%;
        top: 20%;
        left: 0;
        z-index: 4;

        @media (min-width: 578px) and (max-width: 768px) {
            top: 17%;
        }

        @media (min-width: 768.5px) {
            top: 5%;
            width: 40%;
        }

        .container-content {
            position: relative;

            .giantwheel-img {
                position: relative;
                left: -15%;

                img {
                    width: 100%;
                }
            }

            .giantwheel-carpet {
                position: absolute;
                z-index: 4;
                top: 70%;
                left: 0;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .giantwheel-fireworks {
                top: 35%;
                left: 50%;
                z-index: -2;
                width: 100%;

                .fireworks-container {
                    display: flex;
                    justify-content: center;
                }

                img {
                    width: 30%;
                }
            }

            .giantwheel-fireworks {
                position: absolute;
            }

            .donut-img {
                position: absolute;
                top: 100%;
                left: 45%;
                width: 100%;
                z-index: 5;

                img {
                    width: 15%;
                }
            }

        }
    }

    .discover-gift-container {
        position: absolute;
        width: 60%;
        top: 20%;
        right: 0;
        z-index: 4;

        @media (min-width: 578px) and (max-width: 768px) {
            top: 17%;
        }

        @media (min-width: 768.5px) {
            top: 5%;
            width: 40%;
        }

        .container-content {
            position: relative;

            .balloon-img {
                position: relative;
                right: -55%;

                img {
                    width: 45%;
                }
            }

            .giftbox-img {
                position: absolute;
                z-index: 4;
                top: 115%;
                right: -40%;
                width: 100%;

                img {
                    width: 30%;
                }
            }

        }
    }

    .discover-sweets-container {
        position: absolute;
        width: 40%;
        top: 70%;
        left: 0;
        z-index: 4;

        @media (max-width: 380px) {
            top: 75%;
        }

        @media (min-width: 578px) and (max-width: 768px) {
            top: 65%;
        }

        @media (min-width: 768.5px) {
            top: 48%;
            width: 40%;
        }

        .container-content {
            position: relative;

            .sweetsplate-img {
                position: relative;
                z-index: 4;
                //top: 75%;
                left: 10%;
                width: 100%;

                img {
                    width: 55%;
                }
            }

            // .donut-img {
            //     position: absolute;
            //     top: -65%;
            //     left: 45%;
            //     width: 100%;

            //     img {
            //         width: 15%;
            //     }
            // }

            .balloon-img {
                position: absolute;
                z-index: 4;
                top: 70%;
                left: -13%;
                width: 100%;

                img {
                    width: 70%;
                }
            }

            .sparkles-img {
                position: absolute;
                z-index: 4;
                top: 160%;
                left: 30%;
                width: 100%;

                img {
                    width: 55%;
                }
            }

        }
    }

    .discover-bills-container {
        position: absolute;
        top: 75%;
        right: 0;
        width: 50%;
        z-index: 4;


        @media (max-width: 380px) {
            top: 78%;
            width: 40%;
        }

        @media (min-width: 768.5px) {
            top: 60%;
            width: 40%;
        }

        .container-content {
            position: relative;

            .flying-bills-container {
                position: relative;
                left: 15%;
                width: 100%;
                z-index: 4;

                .bills-container-content {
                    position: relative;

                    .bill-and-wallet {
                        position: relative;
                        left: 50%;
                        width: 100%;

                        img {
                            width: 25%;
                        }
                    }

                    .top-bill {
                        position: absolute;
                        top: -100%;
                        left: 20%;
                        width: 100%;

                        img {
                            width: 18%;
                        }
                    }

                    .center-bill {
                        position: absolute;
                        top: -70%;
                        left: 40%;
                        width: 100%;

                        img {
                            width: 15%;
                        }
                    }

                    .bottom-bill {
                        position: absolute;
                        top: -35%;
                        left: 30%;
                        z-index: 4;
                        width: 100%;

                        img {
                            width: 20%;
                        }
                    }
                }
            }

            .sparkles-inverted-img {
                position: absolute;
                z-index: 4;
                top: -225%;
                left: -10%;
                width: 100%;
                rotate: 180deg;

                img {
                    width: 55%;
                }
            }

            .candy-img {
                position: absolute;
                top: -15%;
                left: 5%;
                width: 100%;

                img {
                    width: 30%;
                }
            }

            .redcarpet-img {
                position: absolute;
                z-index: 4;
                top: 55%;
                left: -35%;
                width: 145%;

                img {
                    width: 100%;
                }
            }

            .confetti-img {
                position: absolute;
                top: 220%;
                left: 40%;
                width: 100%;
                z-index: 5;

                img {
                    width: 25%;
                }
            }

        }
    }

    .discover-section-logos {
        position: absolute;
        bottom: 2%;
        right: 50%;
        transform: translate(50%, 0);

        @media (min-width: 768.5px) {
            bottom: 5%;
        }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            @media (min-width: 768.5px) {
                gap: 30px;
            }

            .eid-events-logo {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .gea-logo {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .vertical-seperator {
                width: 2px;
                background-color: #FFF;
                align-self: stretch;
            }

            @media (min-width: 768.5px) {
                .eid-events-logo {
                    width: 27%;

                }

                .gea-logo {
                    width: 22%;

                }
            }

            @media (min-width: 1024px) {
                .eid-events-logo {
                    width: 30%;

                }

                .gea-logo {
                    width: 24%;

                }
            }

            @media (min-width: 1280px) {
                .eid-events-logo {
                    width: 32%;

                }

                .gea-logo {
                    width: 25%;

                }
            }

            @media (min-width: 1480px) {

                .eid-events-logo {
                    width: 35%;

                }

                .gea-logo {
                    width: 26%;

                }
            }
        }
    }
}