@import "../variables";

.discover-section {
    position: relative;
    font-size: 0;

    .discover-section-background {
        position: relative;

        img {
            width: 100%;
        }
    }

    .desc-container-1,
    .desc-container-2 {
        position: absolute;
        right: 50%;
        transform: translate(50%, 0);
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;

        .section-desc-1,
        .section-desc-2 {
            color: #FFF;
            text-align: center;
            font-family: "Space Grotesk";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @media (min-width: 826px) {
                font-size: 24px;
            }

            @media (min-width: 1024px) {
                font-size: 24px;
            }

            @media (min-width: 1280px) {
                font-size: 26px;
            }

            @media (min-width: 1420px) {
                font-size: 30px;
            }

            @media (min-width: 1620px) {
                font-size: 34px;
            }

            @media (min-width: 1820px) {
                font-size: 36px;
            }

        }
    }

    .desc-container-1 {
        top: 5%;
    }

    .desc-container-2 {
        flex-direction: column;
        justify-content: center;
        top: 30%;

        .discover-events-container {
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .btn {
                min-width: 500px;
                padding: 0.75rem 4rem;
            }

            .logo-container {
                display: flex;
                justify-content: center;
            }
        }
    }

    .discover-giantwheel-container {
        position: absolute;
        width: 40%;
        top: 5%;
        left: 0;
        z-index: 4;

        .container-content {
            position: relative;

            .giantwheel-img {
                position: relative;
                left: -15%;

                img {
                    width: 100%;
                }
            }

            .giantwheel-carpet {
                position: absolute;
                z-index: 4;
                top: 70%;
                left: 0;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .giantwheel-fireworks {
                top: 30%;
                left: 50%;
                z-index: -2;
                width: 100%;

                .fireworks-container {
                    display: flex;
                    justify-content: center;
                }

                img {
                    width: 30%;
                }
            }

            .giantwheel-fireworks {
                position: absolute;
            }

        }
    }

    .discover-gift-container {
        position: absolute;
        width: 40%;
        top: 5%;
        right: 0;
        z-index: 4;

        .container-content {
            position: relative;

            .balloon-img {
                position: relative;
                right: -55%;

                img {
                    width: 45%;
                }
            }

            .giftbox-img {
                position: absolute;
                z-index: 4;
                top: 115%;
                right: -40%;
                width: 100%;

                img {
                    width: 30%;
                }
            }

        }
    }

    .discover-sweets-container {
        position: absolute;
        width: 40%;
        top: 40%;
        left: 0;
        z-index: 4;

        .container-content {
            position: relative;

            .sweetsplate-img {
                position: relative;
                z-index: 4;
                //top: 75%;
                left: 10%;
                width: 100%;

                img {
                    width: 55%;
                }
            }

            .donut-img {
                position: absolute;
                top: -65%;
                left: 45%;
                width: 100%;

                img {
                    width: 15%;
                }
            }

            .balloon-img {
                position: absolute;
                z-index: 4;
                top: 70%;
                left: -13%;
                width: 100%;

                img {
                    width: 70%;
                }
            }

            .sparkles-img {
                position: absolute;
                z-index: 4;
                top: 160%;
                left: 30%;
                width: 100%;

                img {
                    width: 55%;
                }
            }

        }
    }

    .discover-bills-container {
        position: absolute;
        top: 45%;
        right: 0;
        width: 40%;
        z-index: 4;

        .container-content {
            position: relative;

            .flying-bills-container {
                position: relative;
                left: 15%;
                width: 100%;
                z-index: 4;

                .bills-container-content {
                    position: relative;

                    .bill-and-wallet {
                        position: relative;
                        left: 50%;
                        width: 100%;

                        img {
                            width: 25%;
                        }
                    }

                    .top-bill {
                        position: absolute;
                        top: -100%;
                        left: 20%;
                        width: 100%;

                        img {
                            width: 18%;
                        }
                    }

                    .center-bill {
                        position: absolute;
                        top: -70%;
                        left: 40%;
                        width: 100%;

                        img {
                            width: 15%;
                        }
                    }

                    .bottom-bill {
                        position: absolute;
                        top: -35%;
                        left: 30%;
                        z-index: 4;
                        width: 100%;

                        img {
                            width: 20%;
                        }
                    }
                }
            }

            .sparkles-inverted-img {
                position: absolute;
                z-index: 4;
                top: -225%;
                left: -10%;
                width: 100%;
                rotate: 180deg;

                img {
                    width: 55%;
                }
            }

            .candy-img {
                position: absolute;
                top: -15%;
                left: 5%;
                width: 100%;

                img {
                    width: 30%;
                }
            }

            .redcarpet-img {
                position: absolute;
                z-index: 4;
                top: 55%;
                left: -35%;
                width: 145%;

                img {
                    width: 100%;
                }
            }

            .confetti-img {
                position: absolute;
                top: 220%;
                left: 40%;
                width: 100%;
                z-index: 5;

                img {
                    width: 25%;
                }
            }

        }
    }

    .discover-section-logos {
        position: absolute;
        bottom: 5%;
        right: 50%;
        transform: translate(50%, 0);

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            .eid-events-logo {
                width: 40%;

                img {
                    width: 100%;
                }
            }

            .gea-logo {
                width: 30%;

                img {
                    width: 100%;
                }
            }

            .vertical-seperator {
                width: 2px;
                background-color: #FFF;
                align-self: stretch;
            }
        }
    }
}