@import "../variables";

.greetingSection {
    .greetingTopSection {
        font-size: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc((2364 / 1920) * 100%);

        @media (max-width: 768px) {
            height: calc((1153 / 430) * 100%);
        }

        .greetingTop-bg {
            position: relative;
            width: 100%;
            z-index: 0;

            img {
                width: 100%;
            }
        }

        .greetingTop-cloud-1 {
            position: absolute;
            z-index: 0;
            top: 6%;
            left: 12%;
            width: 20%;

            @media only screen and (max-width: 767px) {
                top: 17%;
            }
        }

        .greetingTop-cloud-2 {
            position: absolute;
            z-index: 1;
            top: 42%;
            right: 50%;
            transform: translate(50%, 0);
            width: 20%;
        }

        .greetingTop-birds {
            position: absolute;
            z-index: 1;
            top: 42%;
            left: 20%;
            width: 18%;


            @media only screen and (max-width: 767px) {
                top: 38.50%;
                width: 25%;
            }
        }

        .greetingTop-heading-1 {
            position: absolute;
            z-index: 10;
            font-size: 20px;
            color: #005339;
            font-weight: 500;
            text-align: center;
            right: 50%;
            top: -5%;
            transform: translate(50%, 0);
            width: 70%;

            @media (max-width: 320px) {
                font-size: 6vw;
            }

            @media (min-width: 460px) {
                top: -1%;
                width: 60%;
            }

            @media (min-width: 578px) and (max-width: 768px) {
                font-size: 24px;
            }

            @media only screen and (min-width: 769px) {
                font-size: 20px;
                width: 40%;
                top: -5%;
            }

            @media (min-width: 1024px) {
                font-size: 22px;
            }

            @media (min-width: 1280px) {
                font-size: 23px;
                width: 35%;
            }

            @media (min-width: 1480px) {
                font-size: 24px;
            }
        }

        .greetingTop-heading-2 {
            text-align: center;
            font-weight: 600;
            color: #005339;
            position: absolute;
            z-index: 10;
            right: 50%;
            transform: translate(50%, 0);
            font-size: 20px;
            width: 85%;
            bottom: -1%;

            @media (max-width: 350px) {
                font-size: 5.5vw;
                width: 90%;
            }

            @media only screen and (min-width: 380px) {
                top: 80%;

            }


            @media (min-width: 578px) and (max-width: 768px) {
                top: 82%;
                font-size: 24px;
                width: 80%;
            }

            @media (min-width: 769px) {
                top: 85%;
                font-size: 20px;
                width: 70%;
            }

            @media (min-width: 1024px) {
                font-size: 22px;
            }

            @media (min-width: 1280px) {
                font-size: 23px;
                width: 35%;
            }

            @media (min-width: 1480px) {
                font-size: 24px;
            }
        }

        .decoration1 {
            position: absolute;
            z-index: 3;
            top: 6%;
            left: 0;
            width: 100%;
            z-index: 1;

            .greetingTopDecoration01 {
                width: 100%;
            }

            @media only screen and (max-width: 767px) {
                top: 14.7%;
            }
        }

        .decoration2 {
            position: absolute;
            z-index: 3;
            top: 15%;
            left: 0;
            width: 100%;
            z-index: 5;

            .greetingTopDecoration02 {
                width: 100%;
            }

            @media only screen and (max-width: 767px) {
                top: 23%;
            }
        }


        .balloon1 {
            position: absolute;
            top: 25%;
            left: 9%;
            width: 13.1%;

            @media only screen and (max-width: 767px) {
                top: 24.50%;
            }
        }

        .balloon2 {
            position: absolute;
            top: 25%;
            right: 7%;
            width: 18.2%;

            @media only screen and (max-width: 767px) {
                top: 26%;
            }
        }

        .balloon3 {
            position: absolute;
            top: 58%;
            left: 7%;
            width: 14.2%;

            .greetingTopBalloon3 {
                transform: rotate(-50deg);
            }

            @media only screen and (max-width: 767px) {
                top: 50%;
                width: 20%;
                left: 0%;
            }
        }


        .greetingTop01 {
            position: absolute;
            top: 20%;
            width: 14%;
            right: 50%;
            transform: translate(50%, 0);
            z-index: 2;

            @media only screen and (max-width: 767px) {
                top: 23%;
                width: 18%;
            }
        }

        .greetingTop-candy {
            position: absolute;
            top: 27%;
            width: 9%;
            left: 40%;
            z-index: 3;

            @media only screen and (max-width: 767px) {
                top: 28%;
            }
        }

        .greetingTop02 {
            display: flex;
            flex-direction: column;
            gap: 14px;
            position: absolute;
            top: 65%;
            right: 50%;
            transform: translate(50%, 0);
            width: 13%;
            z-index: 10;

            .btn {
                padding: 11px 0;

                @media (max-width: 300px) {
                    font-size: 5.25vw;
                    padding: 2vw 0;
                }
            }

            @media only screen and (max-width: 1240px) {
                width: 20.67%;
                top: 56%;
            }

            @media only screen and (max-width: 767px) {
                top: 56%;
                width: 37.67%;
            }
        }

        .greetingTop03 {
            position: absolute;
            top: 40%;
            right: 0%;
            z-index: 4;
            width: 55%;

            .building-img-1 {
                margin-left: auto;
                margin-right: 50px;

                img {
                    width: 100%;
                }
            }

            .trail-container {
                position: absolute;
                top: 70%;
                right: 0;
                width: 100%;
                overflow: visible;

                .trail-whole {
                    position: relative;

                    .trail-img {
                        transform-origin: top right;
                        transform: scale(1.3);
                        width: 100%;
                    }

                    .trail-carpet-container {
                        position: absolute;
                        top: 40%;
                        right: 0;
                        width: 85%;
                    }

                    .trail-carpet {
                        width: 100%;
                    }
                }
            }


            @media only screen and (max-width: 767px) {
                top: 40%;
                width: 70%;

                .building-img-1 {
                    margin-right: 10px;
                }

                .trail-container {
                    top: 67%;

                    .trail-whole {

                        .trail-carpet-container {
                            top: 50%;
                        }
                    }
                }
            }
        }

        .greetingTop04 {
            position: absolute;
            width: 7%;
            top: 46%;
            right: 9%;
            z-index: 5;

            img {
                width: 100%;
            }

            @media only screen and (max-width: 767px) {
                top: 45%;

            }

        }

        .greetingTop05 {
            position: absolute;
            width: 6%;
            top: 44%;
            right: 5%;
            z-index: 3;

            .green-balloon-1 {
                transform: rotate(-70deg);
            }

            img {
                width: 100%;
            }

            @media only screen and (max-width: 767px) {
                top: 42%;

            }
        }

        .greetingTop06 {
            display: none;
            position: absolute;
            width: 40%;
            top: 50%;
            left: 44%;
            z-index: 3;

            img {
                width: 100%;
            }
        }

        .greetingTop07 {
            position: absolute;
            width: 12.9%;
            top: 70%;
            right: 4%;
            z-index: 5;



            img {
                width: 100%;
            }

            @media only screen and (max-width: 767px) {
                top: 60%;
            }
        }

        .greetingTop08 {
            position: absolute;
            width: 6.7%;
            top: 38.5%;
            right: 7.2%;
            z-index: 5;

            img {
                transform: scaleX(-1) rotate(45deg);
            }

            @media only screen and (max-width: 767px) {
                top: 40%;
            }
        }
    }

    & .greetingBottomSection {
        position: relative;
        width: 100%;
        font-size: 0;

        height: calc((2127 / 1920) * 100%);

        @media (max-width: 768px) {
            height: calc((2045 / 430) * 100%);
        }

        .greetingBottom-bg {
            position: relative;
            width: 100%;
            z-index: 0;

            img {
                width: 100%;
            }
        }

        .greetingSectionHeading2 {
            margin: 0 auto;
            width: 70%;
            text-align: center;
            font-size: 36px;
            font-weight: 500;
            color: #005339;
            margin-bottom: 106px;
            position: absolute;
            top: -20%;
        }


        .greetingTop-heading-3 {
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            color: #005339;
            position: absolute;
            z-index: 2;
            top: 24.5%;
            right: 50%;
            transform: translate(50%, 0);
            width: 40%;

            @media only screen and (max-width: 767px) {
                width: 82%;
                font-size: 20px;
                top: 27.6%;

            }
        }

        & .greetingElements {
            position: absolute;
            z-index: 5;
            top: 2%;
            right: 50%;
            transform: translate(50%, 0);
            width: 62%;

            @media(max-width: 1280px) {
                width: 75%;
            }

            @media(max-width: 1280px) {
                width: 82%;
            }

            & img {
                width: 100%;
            }

            & .greetingCards {
                display: flex;
                justify-content: center;
                gap: 30px;
                width: 100%;

                @media(max-width: 767px) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                }

                & img {
                    width: 100%;
                    height: 100%;
                }

                & .greetingElements01 {
                    flex: 1;

                    @media(max-width: 767px) {
                        flex: unset;
                    }

                    .btn {
                        font-size: 18px;
                        padding: 18px 0;
                        font-weight: 600;

                        @media(max-width: 1680px) {
                            font-size: 16px;
                        }

                        @media(max-width: 1480px) {
                            font-size: 14px;
                        }

                        @media(max-width: 1280px) {
                            padding: 10px 0;
                            font-size: 12px;
                        }

                        @media(max-width: 1080px) {
                            font-size: 12px;
                        }
                    }
                }

                .greetingCardContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }

        }

        & .greetingElements03 {
            position: absolute;
            width: 10%;
            left: 6%;
            top: 21.6%;
            z-index: 4;

            @media(max-width: 767px) {
                top: 27.1%;
                width: 18.6%;
                left: -4%;
            }

        }

        & .greetingElements04 {
            position: absolute;
            width: 52%;
            left: 0;
            top: 35%;
            z-index: 0;

            @media(max-width: 767px) {
                top: 38.9%;
                width: 67.2%;
            }
        }

        & .greetingElements05 {
            position: absolute;
            width: 12%;
            left: 24%;
            top: 35%;
            z-index: 5;


            @media(max-width: 767px) {
                top: 41%;
            }
        }

        & .greetingElements06 {
            position: absolute;
            width: 5%;
            left: 17%;
            top: 39%;

            @media(max-width: 767px) {
                top: 40%;
            }
        }

        & .greetingElements07 {
            position: absolute;
            width: 11%;
            right: 5%;
            top: 4.8%;

            @media(max-width: 767px) {
                top: 0%;
            }
        }

        & .greetingElements08 {
            position: absolute;
            width: 10%;
            left: 5%;
            top: 44%;


            @media(max-width: 767px) {
                top: 42%;
            }

        }

        & .greetingElements09 {
            position: absolute;
            width: 12%;
            left: 18%;
            top: 42%;

            img {
                transform: rotate(-25deg);
            }


        }

        & .greetingElements10 {
            position: absolute;
            width: 8%;
            left: 29%;
            top: 33%;

            @media(max-width: 767px) {
                top: 39%;
            }
        }

        & .greetingElements11 {
            position: absolute;
            width: 12.5%;
            right: 17.7%;
            top: 27.4%;

            @media(max-width: 767px) {
                top: -2%;
                width: 22.5%;
            }
        }

        & .greetingElements12 {
            position: absolute;
            width: 15.8%;
            right: -5%;
            top: 22.3%;


            @media(max-width: 767px) {
                top: 27.1%;
                width: 29.3%;
                right: -11%;
            }

            img {
                transform: rotate(45deg);
            }
        }

        & .greetingElements13 {
            position: absolute;
            width: 7.6%;
            right: 20%;
            top: 46.1%;

            @media(max-width: 767px) {
                top: 44%;
                right: 27.6%;
            }
        }

        & .greetingElements14 {
            position: absolute;
            width: 11.25%;
            right: 8%;
            top: 61.4%;

            @media(max-width: 767px) {
                top: 45.5%;
                width: 15%;
                right: 0%;

                img {
                    transform: rotate(45deg);
                }
            }
        }

        & .greetingElements15 {
            position: absolute;
            width: 24.6%;
            right: -5%;
            top: 76.4%;

            @media(max-width: 767px) {
                top: 89.4%;
            }
        }


        & .section-box {
            position: absolute;
            bottom: 7%;
            right: 50%;
            transform: translate(50%, 0);
            width: 46%;
            text-align: center;

            @media(max-width: 767px) {
                width: 83%;
                bottom: 2%;
            }

            h1 {
                font-size: 36px;
                padding-top: 9%;
                color: #E93323;
                font-family: "IBM Plex Sans Arabic";

                @media(max-width: 767px) {
                    font-size: 24px;
                    font-weight: 500;
                    padding-top: 15%;
                }
            }

            h2 {
                font-size: 36px;
                color: #333;
                font-family: "IBM Plex Sans Arabic";

                @media(max-width: 767px) {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .section-card-container {
                display: flex;
                gap: 20px;
                justify-content: center;
                align-items: center;

                @media(max-width: 767px) {
                    flex-direction: column;
                    gap: 30px;
                }

                .greetingCardContainer {
                    width: 50%;

                    .greetingMainCard {
                        border-radius: 20px;
                    }

                    @media(max-width: 767px) {
                        width: 100%;
                    }


                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .section-box-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .section-box-btns {
                    display: flex;
                    gap: 20px;
                    margin-top: 15px;

                    @media(max-width: 767px) {
                        flex-direction: column;
                        gap: 15px;
                    }

                    .btn {
                        font-size: 28px;
                        font-weight: 600;
                        padding: 17px 0;

                        @media(max-width: 767px) {
                            padding: 14px 0;
                            font-size: 18px;
                        }


                    }
                }
            }
        }
    }
}