@import "../variables";

section.header {
    font-size: 0;
    
    .posAbsImg{
        position: absolute;
    }

    .header-container{
        position: relative;
        width: 100%;

        .headerBg{
            position: relative;
            width: 100%;
            z-index: 0;
        }

        .layer01Wrap{
            top: 0%;
            left: 0%;
            z-index: 1;
            width: 100%;

            img{
                width: 100%;
            }
        }

        .layer02Wrap{
            top: 28%;
            left: 35%;
            z-index: 2;
            width: 14%;
        }


        .layer03Wrap{
            width: 15.7%;
            right: 35%;
            top: 28%;
            z-index: 2;
        }

        .layer04Wrap{
            width: 7%;
            left: 36%;
            top: 37%;
            z-index: 2;
        }

        .layer05Wrap{
            width: 7%;
            right: 37%;
            top: 36%;
            z-index: 2;
        }

        .layer06Wrap{
            width: 16.3%;
            left: 5%;
            top: 65%;
            z-index: 2;

            img{
                transform: rotate(-60deg);
            }
        }

        .layer07Wrap{
            width: 6.7%;
            left: 11%;
            top: 73%;
            z-index: 2;
        }
        
        .layer08Wrap{
            width: 10%;
            left: 23%;
            top: 60%;
            z-index: 4;

            img{
                transform: scaleX(-1)
            }
        }

        .layer09Wrap{
            width: 13.5%;
            left: 25%;
            top: 68%;
            z-index: 4;
        }

        
        .layer10Wrap{
            width: 7.5%;
            left: 35%;
            top: 60%;
            z-index: 4;
        }

        .layer11Wrap{
            width: 7.5%;
            right: 35%;
            top: 60%;
            z-index: 4;
        }

        .layer12Wrap{
            width: 16.2%;
            right: 15%;
            top: 58%;
            z-index: 4;
        }

        .layer13Wrap{
            width: 12%;
            right:20%;
            top: 69%;
            z-index: 4;
        }

        .layer14Wrap{
            width: 12%;
            right: 4%;
            top: 68%;
            z-index: 4;
        }

        .layer20Wrap{
            width: 3%;
            left: 49%;
            top: 50%;
            z-index: 4;
        }







    }
   
}