@import "../variables";

section.header {
    font-size: 0;
    
    .posAbsImg{
        position: absolute;
    }

    .header-container{
        position: relative;
        width: 100%;

        .headerBg{
            position: relative;
            width: 100%;
            z-index: 0;
        }

        .layer01Wrap{
            width: 20%;
            left: 50%;
            top: 30%;
            z-index: 10;
            transform: translateX(-50%);
        }
        
        .layer02Wrap{
            width: 50%;
            left: -6%;
            top: 0%;
            z-index: 3;
        }

        .layer03Wrap{
            width: 50%;
            right: -5%;
            top: 0%;
            z-index: 3;
        }

        .layer04Wrap{
            width: 50%;
            left: -6%;
            top: 40%;
            z-index: 3;
        }

        .layer05Wrap{
            width: 50%;
            right: -5%;
            top: 40%;
            z-index: 3;
        }

        .layer06Wrap{
            width: 50%;
            left: -5%;
            top: 4%;
            z-index: 2;
        }

        .layer07Wrap{
            width: 50%;
            right: -11%;
            top: 02%;
            z-index: 2;
        }

        .layer08Wrap{
            width: 10%;
            left: 30%;
            top: 20%;
            z-index: 4;
        }

        .layer09Wrap{
            width: 10%;
            right: 30%;
            top: 20%;
            z-index: 4;
        }

        .layer10Wrap{
            width: 18%;
            left: -6%;
            top: 48%;
            z-index: 2;
        }

        .layer12Wrap{
            width: 6%;
            left: 7%;
            bottom: 44%;
            z-index: 4;
        }

        .layer13Wrap{
            width: 10%;
            left: 18%;
            top: 42%;
            z-index: 4;
        }

        .layer14Wrap{
            width: 8%;
            left: 13%;
            top: 55%;
            z-index: 4;
        }

        .layer15Wrap{
            width: 6%;
            left: 30%;
            top: 46%;
            z-index: 4;
        }

        .layer16Wrap{
            width: 5%;
            right: 30%;
            top: 46%;
            z-index: 4;
        }

        .layer18Wrap{
            width: 8%;
            right:20%;
            top: 52%;
            z-index: 4;
        }

        .layer19Wrap{
            width: 9%;
            right: 8%;
            top: 50%;
            z-index: 4;
        }

        .layer20Wrap{
            width: 3%;
            left: 49%;
            top: 50%;
            z-index: 4;
        }







    }
   
}