@import "../variables";

section.header {
    font-size: 0;
    height: calc((1844 / 1920) * 100%);

    @media (max-width: 768px) {
        height: calc((490 / 430) * 100%);
    }
    
    .posAbsImg{
        position: absolute;
    }

    .header-container{
        position: relative;
        width: 100%;

        .header-bg{
            position: relative;
            width: 100%;
            z-index: 0;

            img{
                width: 100%;
            }
        }

        .layer01Wrap{
            top: 0%;
            left: 0%;
            z-index: 1;
            width: 100%;

            img{
                width: 100%;
            }
        }

        .layer02Wrap{
            top: 26%;
            left: 35%;
            z-index: 2;
            width: 14%;

            @media(max-width: 768px){
                top: 19%;
            }
        }


        .layer03Wrap{
            width: 15.7%;
            right: 35%;
            top: 26%;
            z-index: 2;
            
            @media(max-width: 768px){
                top: 19%;
            }
        }

        .layer04Wrap{
            width: 7%;
            left: 36%;
            top: 35%;
            z-index: 2;

            @media(max-width: 768px){
                top: 29%;
            }
        }

        .layer05Wrap{
            width: 7%;
            right: 36%;
            top: 35%;
            z-index: 2;

            @media(max-width: 768px){
                top: 29%;
            }
        }

        .layer06Wrap{
            width: 16.3%;
            left: 5%;
            top: 67%;
            z-index: 2;

            @media(max-width: 768px){
                top: 54%;
            }
        }

        .layer07Wrap{
            width: 6.7%;
            left: 11%;
            top: 73%;
            z-index: 2;
            
            @media(max-width: 768px){
                top: 60%;
            }

        }
        
        .layer08Wrap{
            width: 10%;
            left: 24%;
            top: 60%;
            z-index: 4;

            @media(max-width: 768px){
                top: 48%;
            }
        }

        .layer09Wrap{
            width: 13.5%;
            left: 21%;
            top: 70%;
            z-index: 4;

            @media(max-width: 768px){
                top: 57%;
            }


        }

        
        .layer10Wrap{
            width: 7.5%;
            left: 35%;
            top: 60%;
            z-index: 4;

            @media(max-width: 768px){
                top: 51%;
            }
        }

        .layer11Wrap{
            width: 7.5%;
            right: 35%;
            top: 60%;
            z-index: 4;

            @media(max-width: 768px){
                top: 51%;
            }
        }

        .layer12Wrap{
            width: 16.2%;
            right: 15%;
            top: 58%;
            z-index: 4;

            @media(max-width: 768px){
                top: 49%;
            }
        }

        .layer13Wrap{
            width: 12%;
            right:20%;
            top: 69%;
            z-index: 4;

            @media(max-width: 768px){
                top: 57%;
            }
        }

        .layer14Wrap{
            width: 12%;
            right: 4%;
            top: 68%;
            z-index: 4;

            @media(max-width: 768px){
                top: 60%;
            }
        }

        .layer20Wrap{
            width: 3%;
            left: 49%;
            top: 50%;
            z-index: 4;
        }
    }
   
}