@import "../variables";

section.header {
    font-size: 0;
    
    .posAbsImg{
        position: absolute;
    }

    .header-container{
        position: relative;
        width: 100%;

        .headerBg{
            position: relative;
            width: 100%;
            z-index: 0;
        }

        .layer01Wrap{
            width: 23%;
            left: 38%;
            top: 20%;
        }
        
        .layer02Wrap{
            width: 50%;
            left: -5%;
            top: 0%;
            z-index: 3;
        }

        .layer03Wrap{
            width: 50%;
            right: -5%;
            top: 0%;
            z-index: 3;
        }

        .layer04Wrap{
            width: 50%;
            left: -5%;
            top: 35%;
            z-index: 3;
        }

        .layer05Wrap{
            width: 50%;
            right: -5%;
            top: 35%;
            z-index: 3;
        }

        .layer06Wrap{
            width: 50%;
            left: -5%;
            top: 4%;
            z-index: 2;
        }

        .layer07Wrap{
            width: 50%;
            right: -5%;
            top: 4%;
            z-index: 2;
        }

        .layer08Wrap{
            width: 10%;
            left: 33%;
            top: 18%;
            z-index: 4;
        }

        .layer09Wrap{
            width: 10%;
            right: 33%;
            top: 18%;
            z-index: 4;
        }

        .layer10Wrap{
            width: 18%;
            left: -8%;
            top: 48%;
            z-index: 4;
        }

        .layer12Wrap{
            width: 6%;
            left: 14%;
            bottom: 48%;
            z-index: 4;
        }

        .layer13Wrap{
            width: 10%;
            left: 23%;
            top: 35%;
            z-index: 4;
        }

        .layer14Wrap{
            width: 8%;
            left: 22%;
            top: 48%;
            z-index: 4;
        }

        .layer15Wrap{
            width: 6%;
            left: 37%;
            top: 36%;
            z-index: 4;
        }

        .layer16Wrap{
            width: 5%;
            right: 37%;
            top: 36%;
            z-index: 4;
        }

        .layer18Wrap{
            width: 8%;
            right: 27%;
            top: 42%;
            z-index: 4;
        }

        .layer19Wrap{
            width: 9%;
            right: 14%;
            top: 35%;
            z-index: 4;
        }

        .layer20Wrap{
            width: 3%;
            left: 49%;
            top: 41%;
            z-index: 4;
        }







    }
   
}