.rideSection {
    & .rideSectionContainer{
        padding: 350px 0 24%;
        position: relative;
        width: 100%;
        @media screen and (max-width: 1680px){
            padding: 350px 0 17%;
        }
        @media screen and (max-width: 1440px){
            padding: 300px 0 17%;
        }
        @media screen and (max-width: 1366px){
            padding: 270px 0 17%;
        }
        @media screen and (max-width: 1160px){
            padding: 150px 0 14%;
        }
        @media screen and (max-width: 767px){
            padding: 70px 0 170px;
        }
        @media screen and (max-width: 680px){
            padding: 70px 0 120px
        }
        & .rideElements {
            & img {
                width: 100%;
            }
            & .rideElements0 {
                position: absolute;
                width: 10%;
                top: 0%;
                left: 15%;
            }
            & .rideElements01 {
                position: absolute;
                width: 23%;
                top: 23%;
                left: 3%;
                @media screen and (max-width: 680px){
                    top: unset;
                    left: 6%;
                    bottom: unset;
                    top: 44%;
                }
            }
            & .rideElements02 {
                position: absolute;
                width: 20%;
                right: 2%;
                top: 0%;
                @media screen and (max-width: 680px){
                    width: 30%;
                    right: 0%;
                    top: 0%;
                }
            }
            & .rideElements03 {
                position: absolute;
                width: 56%;
                bottom: 3%;
                right: 0%;
                @media screen and (max-width: 680px){
                    width: 70%;
                    bottom: -4%;
                    right: -4%;
                }
            }
            & .rideElements04 {
                position: absolute;
                width: 88%;
                right: 0%;
                bottom: -5%;
                @media screen and (max-width: 680px){
                    width: 138%;
                    right: -60%;
                    bottom: 0;
                }
            }
            & .rideElements05 {
                position: absolute;
                width: 51%;
                bottom: 16%;
            }
            & .rideElements06 {
                position: absolute;
                width: 51%;
                bottom: 15%;
            }
        }
        .section-box {
            width: 100%;
            margin: 0 auto;
            text-align: center;
            max-width: 300px;
            position: relative;
            @media screen and (max-width: 680px){
                max-width: 180px;
            }
            h2 {
                color: #a82689;
            }
            p {
                font-weight: 400;
                color: #000;
            }
        }
    }
}